@keyframes rotating {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@mixin centeredMask {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    top: 0px;
    left: 0px;
}

.invoices-list-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid #343A40;
    border-radius: 5px;
    padding: 10px;
    margin: 0px auto;

    &_list {
        height: 310px;

        &_group {
            position: relative;
            height: 100%;
            
            &.scroll-content {
                overflow-y: scroll;
            }

            &_loader {
                @include centeredMask;
                background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.4);
                z-index: 1500;

                & i.fa {
                    animation-name: rotating;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    font-size: 35px;
                    color: #D0CDCD;
                }
            }

            &_empty {
                @include centeredMask;
            }
        }
    }
}