<div class="invoices-list-container">
    <div class="invoices-list-container_search-container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>
    </div>
    <div class="invoices-list-container_list">
        <div class="list-group">
            <a href="javascript:void(0)" class="invoices-list-container_list_item list-group-item list-group-item-action active">
                <div class="invoices-list-container_list_item_text">
                    Cras justo odio
                </div>
                <div class="invoices-list-container_list_item_actions">
                    <i class="invoices-list-container_list_item_actions_icon fa fa-trash" aria-hidden="true" title="Delete"></i>
                    <i class="invoices-list-container_list_item_actions_icon fa fa-clone" aria-hidden="true" title="Duplicate"></i>
                </div>
            </a>
            <a href="javascript:void(0)" class="invoices-list-container_list_item list-group-item list-group-item-action">
                <div class="invoices-list-container_list_item_text">
                    Cras justo odio
                </div>
                <div class="invoices-list-container_list_item_actions">
                    <i class="invoices-list-container_list_item_actions_icon fa fa-trash" aria-hidden="true" title="Delete"></i>
                    <i class="invoices-list-container_list_item_actions_icon fa fa-clone" aria-hidden="true" title="Duplicate"></i>
                </div>
            </a>
        </div>
    </div>
</div>