@import '../_styles';

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .page-header {
        padding: 20px 0px;
        margin-bottom: 0px;
    }

    .add-invoice-group {
        width: $mainBaseWidth;
    }
}