<div class="wrapper">
  <!-- Define Application NavBar -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Invoicing App</a>
  </nav>
  <!-- Define main container element -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- Define Application NavBar footer -->
  <nav class="navbar navbar-light bg-light footer">
    <a class="navbar-brand footer_copyright" href="javascript:void(0)">
      &copy; Some copyright content here
    </a>
  </nav>
</div>


