.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;

    .avatar-image {
        border-radius: 50%;
        border: 1px solid #C1C1C1;
    }

    .container-fluid {
        display: flex;
        min-height: calc(100% - 112px);
    }

    .footer {
        flex: 1;
        justify-content: flex-end;

        &_copyright {
            font-size: 16px;
        }
    }
}