<div class="row">
    <div class="col-12">
        <h3 class="text-center my-4">Login</h3>
    </div>
</div>
<div class="row">
    <div class="offset-4 col-4">
        <form #loginForm="ngForm">
            <div class="alert alert-danger custom-alert" role="alert" *ngIf="isAuthenticationMessageShown">
                {{ authenticationMessage }}
            </div>
            <div class="form-group">
                <input 
                    [class.invalid-input-value]="isEmailError"
                    type="email" 
                    class="form-control" 
                    id="emailField" 
                    name="email" 
                    placeholder="Enter email" 
                    [(ngModel)]="emailField" 
                    required 
                    #email="ngModel" 
                    (input)="manageFormControlChange($event, 'isEmailError')" 
                    (keyup)="$event.which == 13 && !(!loginForm.valid || isLoading) && onLoginFormSubmit($event)">
            </div>
            <div class="form-group">
                <input 
                    [class.invalid-input-value]="isPasswordError"
                    type="password" 
                    class="form-control" 
                    id="passwordField" 
                    name="password" 
                    placeholder="Password" 
                    [(ngModel)]="passwordField" 
                    required 
                    #password="ngModel" 
                    (input)="manageFormControlChange($event, 'isPasswordError')" 
                    (keyup)="$event.which == 13 && !(!loginForm.valid || isLoading) && onLoginFormSubmit($event)">
                <div class="alert alert-danger custom-alert" role="alert" *ngIf="areCredentialsInvalid(password, email)">
                    {{ invalidCredentialsMessage(password, email) }}
                </div>
            </div>
            <button type="button" class="btn btn-primary my-3 submit-button" [disabled]="!loginForm.valid || isLoading" (click)="onLoginFormSubmit($event)">{{ isLoading ? 'Loading...' : 'Submit' }}</button>
        </form>
    </div>
</div>