<div class="row">
    <div class="col-12">
        <h3 class="text-center">Login</h3>
    </div>
</div>
<div class="row">
    <div class="offset-4 col-4">
        <form #loginForm="ngForm">
            <div class="alert alert-danger custom-alert" role="alert" *ngIf="isAuthenticationMessageShown">
                {{ authenticationMessage }}
            </div>
            <div class="form-group">
                <label for="emailField">Email address</label>
                <input 
                    [class.invalid-input-value]="isEmailError"
                    type="email" 
                    class="form-control" 
                    id="emailField" 
                    name="email" 
                    placeholder="Enter email" 
                    [(ngModel)]="emailField" 
                    required 
                    #email="ngModel" 
                    (input)="manageFormControlChange($event, 'isEmailError')">
                <div class="alert alert-danger custom-alert" role="alert" *ngIf="!email.valid && !email.pristine && !email.value.trim().length">
                    Email field is required
                </div>
            </div>
            <div class="form-group">
                <label for="passwordField">Password</label>
                <input 
                    [class.invalid-input-value]="isPasswordError"
                    type="password" 
                    class="form-control" 
                    id="passwordField" 
                    name="password" 
                    placeholder="Password" 
                    [(ngModel)]="passwordField" 
                    required 
                    #password="ngModel" 
                    (input)="manageFormControlChange($event, 'isPasswordError')">
                <div class="alert alert-danger custom-alert" role="alert" *ngIf="!password.valid && !password.pristine && !password.value.trim().length">
                    Password field is required
                </div>
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!loginForm.valid || isLoading" (click)="onLoginFormSubmit($event)">{{ isLoading ? 'Loading...' : 'Submit' }}</button>
        </form>
    </div>
</div>