.item {
    display: flex;
    width: 100%;
    flex-direction: row;

    &_text {
        width: 80%;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    &_actions {
        display: flex;
        width: 20%;
        justify-content: space-evenly;

        &_icon {
            font-size: 22px;
        }
    }
}